<div class="row border-bottom m-3 p-3">
  <div class="col">
    <h2><%= link_to topic.title, topic %></h2>
  </div>
  <% if logged_in? :site_admin %>
  <div class="col-3-right align-text-center">

    <%= render partial: 'shared/admin_actions', locals: { end_title: 'Topic', edit_path: edit_topic_path(topic), data_passed: topic } %>

  </div>
  <% end %>
</div>