<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">

        <%= paginate @topics_paged, class: 'pagination' %>
        <%= render @topics %>
        <%= paginate @topics_paged, class: 'pagination' %>

    </div>
    <%= render "shared/blog_sidebar" %>
  </div>
</main>