 <% if logged_in? :site_admin %>
  <p>
    <%= link_to blog.status.titleize, toggle_status_blog_path(blog) %> /
    <%= link_to 'Edit', edit_blog_path(blog) %> /
    <%= link_to 'Delete Post', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
  <% end %>