<div class="p-4">
  <h4 class="font-italic">Elsewhere</h4>
  <ol class="row list-unstyled social-links">
    <li> <a class="col-2 text-dark" href="https://github.com/wibb1"> <%= fa_icon "github" %> </li> </a>
    <li> <a class="col-2" href="https://www.linkedin.com/in/williamkcampbell/"> <%= fa_icon "linkedin" %> </li> </a>
  </ol>
</div>