<nav class="nav blog-nav">
  <%= application_helper_nav('p-2 text-muted', 'span') %>
  <span><%= link_to 'New Blog Entry', new_blog_path, class: "p-2 text-muted" if logged_in?(:site_admin) %></span>
</nav>
