<section class="jumbotron text-center">
  <div class="container">
    <h1>My Portfolio</h1>
    <p class="lead text-muted">Welcome to my portfolio display page. These repositories are the personal challenges that I have undertake during my coding career. Some are simple learning exercises and others are complete websites. Please feel free to look around and let me know what you think.</p>
    <p>
      <%= link_to 'More About Me', about_me_path, class: 'btn btn-dark' %>
      <%= link_to 'Contact Me',  contact_path, class: 'btn btn-outline-dark' %>
    </p>
  </div>
</section>