<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <%= link_to 'View All Portfoilo Items', portfolios_path %> | <a href="#">Back to top</a>
    </p>
    <p>
    <%= application_copyright_generator %>
    </p>
  </div>
</footer>