 <header>
   <div class="collapse bg-dark" id="navbarHeader">
     <div class="container">
       <div class="row">
         <div class="col-sm-8 col-md-7 py-4">
           <h4 class="text-white">About</h4>
           <p class="text-muted">This portfolio is a collection of apps I have written since begining my coding journey.  Some are more advanced than others, however this also gives some insight to how I have learned coding, and how I continue to learn. </p>
         </div>
         <div class="col-sm-4 offset-md-1 py-4">
           <h4 class="text-white">Site Links</h4>
           <ul class="list-unstyled">
             <%= application_helper_nav('text-white', 'li') %>
             <%= application_helper_login 'text-white', 'li' %>
           </ul>
         </div>
       </div>
     </div>
   </div>
   <div class="navbar navbar-dark bg-dark shadow-sm">
     <div class="container d-flex justify-content-between">
       <a href="<%=about_me_path%>" class="navbar-brand d-flex align-items-center">
         <strong>Will Campbell</strong>
       </a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
     </div>
   </div>
 </header>