<main role="main" class="app-card-container">
  <div class='card bg-secondary'>
  <h1 class="text-center mb-4">About Me</h1>
  <div class="text-justify">
    <%= image_tag "Headshot.jpg", width: 250, alt: "Picture of me", :class=>"ml-4 rounded float-right" %><p>Attempting a career change after working for 20 years was not an easy decision. I previously developed a great career in the environmental field; mainly helping energy and industrial clients or employers to comply with environmental regulations. I led multidisciplinary cross functional engineering teams to develop large power generation projects and participated in small in-house teams that made great strides in cost control through optimization. I designed complete emission calculation and recordkeeping systems to ensure compliance with environmental requirements at multiple facilities, integrating those systems with existing electronic recordkeeping systems wherever possible. I worked with clients to maintain or expand production capacity while assuring compliance with environmental laws. I also negotiated permit requirements with the regulatory agencies on behalf of clients or employers. In addition, I have managed project budgets and balanced client needs and expectations, ensuring project profitability and client satisfaction.</p>

    <p>However, over the last 10 years the expatriation of manufacturing facilities has accelerated, and power generation has shifted toward renewable energy generation technologies, reducing the demand for my existing skills. This is why I began considering a new career.</p>

    <p>As a result of that contemplation, I joined Launch Academy, an immersive web developer training program. Launch is a full stack development training program originally designed as an onsite learning academy; however, with the advent of COVID-19 we were forced to complete the program remotely. This has prepared me well for the current remote working conditions. During my time at Launch Academy, I built my knowledge of Ruby on Rails and JavaScript and further developed my experience with relational databases. The techniques taught at Launch Academy are well aligned with the way software is built. </p>

    <p>I welcome the challenges that will come with delving into a new field, and I continue to learn new techniques, frameworks and languages utilizing online learning tools. I understand that I am taking on a new and very different occupation but look forward to building another great career over the next 20 years.</p>

    <p>I would love to share more about my background with you and I look forward to showing you exactly why you should hire me!</p>
  </div>
</main>