<main role="main" class="my-5">
  
  <div class="container bg-secondary p-4 border border-dark">

    <div class="row bg-gradient-secondary p-2" style="min-height:600px;">
      <div class="col-md-4">
        <div class="">
        <h1 class="mb-5">Contact Me?</h1>
          <h3>In office work area:</h3>
          <p>Greater Boston/Providence</p>
        </div>
        <div class="py-2">
          <a href='#' id="show_phone" class="btn btn-lg btn-secondary">Show Phone</a>
          <p id="phone" class="hidden py-2 px-4">781-249-9005</p>
        </div>
        <div class="py-2">
          <a href="mailto:wibb1@comcaast.net?subject=PortfolioContact" class="btn btn-lg btn-secondary"> Email me</a>
        </div>        
      </div>
      <div class="col-md-8 text-right">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d757833.7739496335!2d-71.0157792!3d41.9196377!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1608218928469!5m2!1sen!2sus" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
    </div>
  </div>
</main>