<main role="main" class="inner cover my-2">
  <h1 class="text-center mb-5">Would you like to work together?</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-3 bg-secondary p-4">
        <h3>Phone</h3>
        <p> <%= number_to_phone "7812499005" %> </p>
        <h3>Email</h3>
        <p> <a href="mailto:wibb1@comcaast.net?subject=PortfolioContact" "email me"> Email me</a> </p>
        <h3>In office work area:</h3>
        <p>Greater Boston/Providence</p>
      </div>

      <div class="col-md-9">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d757833.7739496335!2d-71.0157792!3d41.9196377!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1608218928469!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
    </div>
  </div>
</main>
