<main role="main" class="app-card-container">
  <div class='card bg-secondary p-3 text-center opacity-1h5'>
    <blockquote class="blockquote">
      <h1 class="cover-heading">Not all those who wander are lost.</h1>
      <footer class="blockquote-footer text-white">JRR Tolkien in "The Riddle of Strider", <cite title="Source Title">The Fellowship of the Ring</cite></footer>
    </blockquote>
    <p class="lead">I have always enjoyed learning new things. Understanding a new concept offers a sense of fulfilment and accomplishment that no other endeavor can provide. Coding has provided me with an entirely new avenue to stretch my mind, and challenge my intellect.</p>
    <p class="lead">
      <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
    </p>
  </div>
</main>