<main role="main" class="inner cover text-center my-5">
  <blockquote class="blockquote">
    <h1 class="cover-heading">Tech News</h1>
    <footer class="blockquote-footer">Latest News from Twitter</footer>
  </blockquote>

  <div class="row">
    <% @tweets.each do |tweet| %>
    <div class='col-md-6'>
      <div class='tech-news text-dark'>
        <div class='card'>
          <%= twitter_parser tweet %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <p class="lead text-center mt-5">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>